* {
  font-family: "Lucida Console", "Courier New", monospace;
}

.banner {
  height: 80vh;
  object-fit: cover; 
  display: block;
}

.hero-section {
  display: flex;
  height: 80vh; 
  margin-left: 6vh;
  margin-top: 9vh;
  margin-bottom: 20vh;

}

.banner-img {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.text-block {
  display: flex;
  flex-direction: column; 
  padding-left: 3rem;
  padding-right: 5rem;
  margin-bottom: 20vh;

}


.text-block h1 {
  margin: 0 0 0 0;
  font-size: 2.8rem;
}

.text-block p {
  font-size: 1.5rem;
}

.nav-links {
  margin-top: .4rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  font-size: 1.35rem;
  color: black;
  padding: 0.5rem 0;
  border-left: 3px solid black;
  padding-left: 0.5rem;

  transition: transform 1s ease;
}

.nav-links a:hover {
  transform: translateX(6rem);
}

html {
      scroll-behavior: smooth;
}

.painting-row {
  display: flex;
  gap: 1%;
  /* flex-wrap: wrap; */
  padding-left: 1vh;
  padding-right: 1vh;
  justify-content: center;

}

.painting-img {
  width: auto;
  height: 80vh;
  object-fit: cover;
  padding-bottom: 5vh;
}

.stacked-column {
  display: flex;
  flex-direction: row;
  gap: 15vh;
  padding-left: 10vh;
  padding-right: 10vh;
  padding-bottom: 5vh;
  justify-content: center;

}

.landscapes {          
  display: flex;
  gap: 10vh;         
  justify-content: center;
  padding-bottom: 8vh;
}

.landscapes img {     
  width: 45%;       
  height: auto;
}

.montclair {
  display: flex;
  justify-content: center;
}

.montclair img {
  width: 80%;       
  height: auto;
  padding-bottom: 8vh;
}
.painting-wrapper {
  position: relative;
  display: inline-block;
  font-family: "Times New Roman", Times, serif;
}

.painting-wrapper:hover .painting-img {
  opacity: 0.3;
}

.painting-wrapper::before {
  content: attr(data-title);
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  font-style: italic;
  font-size: 1.6rem;
  color: rgb(0, 0, 0);
  text-align: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.painting-wrapper::after {
  content: attr(data-meta);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.1rem;
  color: rgb(0, 0, 0);
  text-align: center;
  white-space: pre-line;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Convert | to real newlines using JavaScript on load */
.painting-wrapper:hover::before,
.painting-wrapper:hover::after {
  opacity: 1;
}
