* {
  font-family: "Lucida Console", "Courier New", monospace;
}

.banner {
  height: 80vh;
  object-fit: cover; 
  display: block;
}

.hero-section {
  display: flex;
  height: 80vh; /* full page height */
  margin-left: 6vh;
  margin-top: 9vh;

}

.banner-img {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.text-block {
  display: flex;
  padding-left:3rem;
}


.text-block h1 {
  margin: 0 0 1rem 0;
  font-size: 2.5rem;
}

.text-block p {
  font-size: 1.2rem;
}

.logo {
  width: 10rem;   
  height: 10rem; 
  margin-bottom: 1rem;
}